<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="LogInStyle.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <title>Document</title>
</head>
<body>
    <div class="container">
        <form action="">
            <h1>Login</h1>
            <div class="form">
                <input type="text" placeholder="Username" class="inputClass" id="usernameInput" required>
                <i class='bx bxs-user-circle'></i>
            </div>
            <div class="form">
                <input type="password" placeholder="Password" class="inputClass" id="userpassInput" required>
                <i class='bx bxs-lock-alt' ></i>
            </div>
            <div class="remember-forgot">
                <label for=""><input type="checkbox"> Remember me</label>
                <a href="#">Forgot password?</a>
            </div>
            <button type="submit" class="btn">Login</button>
            <div class="register-link">Don't have an account? <a href="SignUp.html">Register</a></div>
            
        </form>
    </div>
    <script src="LogInScript.js"></script>
</body>
</html>
