.contact{
    padding: 50px 200px; 
    display: flex;
}

.contact-left{
    /* border: 2px solid white; */
    /* flex-basis: 35%; */
}
.contact-right{
    /* border: 2px solid white; */
    /* flex-basis: 60%; */
}

.contact-left h1{
    font-size: 40px;
    text-align: center;
}

.contact-left p{
    margin-top: 20px;
    font-size: 20px;
}

.contact-left p i{
    color: #00BF62;
    margin-right: 10px;
    font-size: 30px;
}

.social-icon{
    margin-top: 20px;
}

.social-icon a{
    text-decoration: none;
    font-size: 33px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icon a:hover{
    color: #00BF62;
    transform: translate(-4px);
}

/* .contact-right form{
    width: 100%;
} */

.contact-form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background-color: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #ffffff;
    font-size: 18px;
    border-radius: 6px;
}

.contact-form .btn2{
    font-size: 18px;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: #262626;
}

.copyright i{
    color: #ff004f;
}
