.image-upload-container{
    display: flex;
    flex-direction: column;
}

.image-upload-container input{
    background-color: #00BF62;
    height: auto;

}

.image-upload-text img{
    height: 100px;
    /* border: 0.6px solid grey; */
}