.profile-super-container{
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-card{
    margin: 40px 0;
    width: 90%;
    max-width: 800px;
    height: 28%;
    
    /* border: 2px solid rgb(217, 217, 217); */
    background-color: rgb(36, 36, 36);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-card-pic img{
    border-radius: 50%;
    max-height: 11rem;

}

.profile-card-info{
    /* border: 2px solid white; */
    height: 60%;
    width: 50%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.profile-card-container{
    /* border:2px solid white; */
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    /* justify-content:space-around; */

}

.profile-card-name-container {
    width: 50%;
}

.profile-card-name{
    font-size: 30px;
    font-weight: 700;
}

.profile-card-username{
    color: rgb(165, 165, 165);
    /* color: red; */
    font-size: 20px;
}

.profile-card-popularity{
    /* border: 2px solid white; */
    font-size: 20px;
    width: 50% ;
    font-weight: 700;
    
}

@media only screen and (max-width: 768px) {
    .profile-card {
        width: 90%;
        height: 20%;
    }

    .profile-card-pic img {
        max-width: 120px;
    }

    .profile-card-name {
        font-size: 20px;
    }

    .profile-card-username {
        font-size: 14px;
    }

    .profile-card-bio {
        font-size: 12px;
    }
}

/* ACHIVEMENTS */

.profile-achievement-container{
    /* border: 2px solid white; */
    width: 90%;
    max-width: 800px;
    background-color: rgb(36, 36, 36);
    border-radius: 25px;
    padding: 30px 50px 50px 50px;
}
.profile-achievement-text h3{
    /* border: 2px solid white; */
    margin-bottom: 4%;
    font-size: 25px;
    font-weight: 600;
}

.profile-achievements-bars{
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}